! Dracula Xresources palette

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------

! Use a truetype font and size.
! XTerm*faceName: Fira Mono
!XTerm*faceName: DejaVu Sans Mono
XTerm*faceName: Monospace
XTerm*faceSize: 16
XTerm*renderFont: true

! Map the Ctrl + right-click VT Fonts menu (sizes in points).
! Default uses faceSize above; numbered resources map to the menu entries.
! Unreadable
XTerm*faceSize1: 6
! Tiny
XTerm*faceSize2: 8
! Small
XTerm*faceSize3: 12
! Medium (same as Default)
XTerm*faceSize4: 16
! Large
XTerm*faceSize5: 20
! Huge
XTerm*faceSize6: 24
! Enormous
XTerm*faceSize7: 28

! uxterm uses a separate application class (including via i3-sensible-terminal).
UXTerm*faceName: Monospace
UXTerm*faceSize: 16
UXTerm*renderFont: true
UXTerm*faceSize1: 6
UXTerm*faceSize2: 8
UXTerm*faceSize3: 12
UXTerm*faceSize4: 16
UXTerm*faceSize5: 20
UXTerm*faceSize6: 24
UXTerm*faceSize7: 28

XTerm*termName: xterm-256color

!UXTerm*font: xft:fixed:size=16
!xterm*font: xft:fixed:size=16

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window: #44475a, #f1fa8c, #f1fa8c

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal: #44475a, #8BE9FD, #44475a, #44475a, #FF7AC6
rofi.color-active: #f1fa8c, #44475a, #8BE9FD, #44475a, #FF7AC6
rofi.color-urgent: #f1fa8c, #44475a, #8BE9FD, #44475a, #FF7AC6

! Set the desired separator style
rofi.separator-style: solid

! Base16 Dracula
! Scheme: Mike Barkmin (http://github.com/mikebarkmin) based on Dracula Theme (http://github.com/dracula)

#define base00 #282936
#define base01 #3a3c4e
#define base02 #4d4f68
#define base03 #626483
#define base04 #62d6e8
#define base05 #e9e9f4
#define base06 #f1f2f8
#define base07 #f7f7fb
#define base08 #ea51b2
#define base09 #b45bcf
#define base0A #00f769
#define base0B #ebff87
#define base0C #a1efe4
#define base0D #62d6e8
#define base0E #b45bcf
#define base0F #00f769

*.foreground:   base05
#ifdef background_opacity
*.background:   [background_opacity]base00
#else
*.background:   base00
#endif
*.cursorColor:  base05

*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05

*.color8:       base03
*.color9:       base08
*.color10:      base0B
*.color11:      base0A
*.color12:      base0D
*.color13:      base0E
*.color14:      base0C
*.color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*.color16:      base09
*.color17:      base0F
*.color18:      base01
*.color19:      base02
*.color20:      base04
*.color21:      base06

XTerm*bellIsUrgent: false
XTerm*visualBell: true
XTerm*bellPercent: 0

xterm.VT100.Translations: #override \
	Ctrl Shift <Key>V:	insert-selection(CLIPBOARD) \n\
	Ctrl Shift <Key>C:	copy-selection(CLIPBOARD)

Sxiv.background: #FFFFFF
